<html>
    <head>
        <title>Contact List</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
        <script src="js/angularApp.js"></script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/stylesheets/styles.css"/>
    </head>
    <body ng-app="contactsApp">
        <div class="container" ng-controller="appCtrl">
            <h1>Contact List</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number</th>
                        <th>Email</th>
                        <th>Actions</th>
                        <th>&nbsp;</th>
                    </tr>
                    <tr>
                        <td><input class="form-control" ng-model="contact.name" ng-required></td>
                        <td><input class="form-control" ng-model="contact.phone"/></td>
                        <td><input class="form-control" ng-model="contact.email" ng-required/></td>
                        <td>
                            <button class="btn btn-primary" ng-click="addContact()">Add Contact</button>
                        </td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="contact in contacts">
                        <td ng-hide="editting">{{contact.name}}</td>
                        <td ng-show="editting"><input class="form-control" ng-model="contact.name"/></td>
                        <td ng-hide="editting">{{contact.phone}}</td>
                        <td ng-show="editting"><input class="form-control" ng-model="contact.phone"/></td>
                        <td ng-hide="editting">{{contact.email}}</td>
                        <td ng-show="editting"><input class="form-control" ng-model="contact.email"/></td>
                        <td>
                            <button ng-hide="editting" ng-click="editting=true" class="btn btn-warning">Edit</button>
                            <button ng-show="editting" ng-click="editting=false; update(contact._id)" class="btn btn-warning">Update</button>
                        </td>
                        <td>
                            <button ng-click="remove(contact._id)" class="btn btn-danger">Remove</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
